import os
import platform

os.environ['DATABASE_USER'] = '{{ awx_database_user }}'
os.environ['DATABASE_NAME'] = '{{ awx_database_name }}'
os.environ['DATABASE_PASSWORD'] = '{{ awx_database_password }}'
os.environ['DATABASE_HOST'] = '{{ awx_database_host }}'
os.environ['DATABASE_PORT'] = '{{ awx_database_port }}'

os.environ['RABBITMQ_USER'] = '{{ awx_rabbitmq_user }}'
os.environ['RABBITMQ_PASSWORD'] = '{{ awx_rabbitmq_password }}'
os.environ['RABBITMQ_HOST'] = '{{ awx_rabbitmq_host }}'
os.environ['RABBITMQ_PORT'] = '{{ awx_rabbitmq_port }}'
os.environ['RABBITMQ_VHOST'] = '{{ awx_rabbitmq_vhost }}'

os.environ['MEMCACHED_HOST'] = '{{ awx_memcached_host }}'
os.environ['MEMCACHED_PORT'] = '{{ awx_memcached_port }}'

os.environ['EMAIL_HOST'] = '{{ awx_email_host }}'
os.environ['EMAIL_PORT'] = '{{ awx_email_port }}'
os.environ['EMAIL_HOST_USER'] = '{{ awx_email_host_user }}'
os.environ['EMAIL_HOST_PASSWORD'] = '{{ awx_email_host_password }}'
os.environ['EMAIL_USE_TLS'] = '{{ awx_email_use_tls }}'